.dish {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.dish:last-child {
    border-bottom: none;
}

.dishLink {
    text-decoration: none;
    color: #302d2d;
    transition: color 0.3s ease;
}

.dishLink:hover {
    color: #1d72b8;
}
