.tabsContainer {
    padding: 0 24px;
    background-color: #CBD4C2;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.tabsNav {
    overflow-x: auto;
}

.dark.tabsContainer {
    background-color: #A4B49B;
}
